.blog-header{

    text-align:center;
    padding:70px 20px;

}

.blog-header h1{

    font-size:42px;
    color:#2E8B57;
}

.blog-header p{

    margin-top:15px;
    color:#666;
}

.search-section{

    width:90%;
    margin:auto;
    text-align:center;
}

.search-section input{

    width:500px;
    max-width:100%;
    padding:14px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

.categories{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
    margin:40px 0;
}

.category-btn{

    padding:10px 20px;
    border:none;
    background:#ddd;
    cursor:pointer;
    border-radius:30px;
    transition:.3s;
}

.category-btn:hover{

    background:#2E8B57;
    color:white;
}

.active-btn{

    background:#2E8B57;
    color:white;
}