.contact{

width:80%;
max-width:700px;
margin:70px auto;
}

.contact h1{

text-align:center;
margin-bottom:40px;
color:#2E8B57;
}

.contact form{

display:flex;
flex-direction:column;
gap:20px;
}

.contact input,
.contact textarea{

padding:15px;
font-size:16px;
border:1px solid #ccc;
border-radius:8px;
}

.contact button{

padding:15px;
background:#2E8B57;
color:white;
border:none;
cursor:pointer;
border-radius:8px;
font-size:16px;
}

.contact button:hover{

background:#26734a;
}